<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio recuperación - History</title>

    <!-- CSS => Bootstrap / Fontawesome / Custom -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../resources/css/style.css">

    <!-- JS => jQuery / Bootstrap / Custom -->
    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script defer src="../resources/js/script.js"></script>
    <script defer src="../resources/js/form.js"></script>
</head>

<body>
    <header class="container-fluid bg-dark text-white p-1">
        <div class="container-fluid">
            <div class="row">

                <!-- Menú de navegación -->
                <div class="row col-11 mx-0 d-flex justify-content-end align-items-center">
                    <nav class="navbar navbar-expand-md navbar-dark">
                        <button class="navbar-toggler px-1 border-0 d-flex align-items-center" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span><img id="logo" src="../resources/img/logo.png" alt="logo"></span>
                            <span class="ms-2 d-md-none">Menú</span>
                        </button>

                        <div class="footer-block collapse navbar-collapse justify-content-between flex-md-column"
                            id="navbarNav">

                            <!-- Vistas -->
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link pt-3 pt-sm-2" href="../index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="history.html">Historia</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="members.html">Miembros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pb-3 pb-sm-2" href="contact.html">Contacto</a>
                                </li>
                            </ul>

                            <!-- Iconos externos -->
                            <div class="py-2">
                                <div class="d-flex justify-content-start">
                                    <!-- Iconos de redes sociales -->
                                    <a href="#" target="_blank"><i class="fa-brands fa-facebook me-2 text-info"></i></a>
                                    <a href="#" target="_blank"><i class="fa-brands fa-twitter me-2 text-info"></i></a>
                                    <a href="#" target="_blank"><i
                                            class="fa-brands fa-instagram me-2 text-info"></i></a>
                                </div>
                            </div>

                        </div>
                    </nav>
                </div>

                <!-- Iconos internos -->
                <div class="col-1 py-2 d-flex justify-content-center align-items-md-center">
                    <div class="row">
                        <div class="container d-flex">
                            <!-- Icono de la cesta de la compra -->
                            <a href="#"><i class="fa-lg fa-solid fa-cart-shopping mx-2 text-white"></i></a>
                            <!-- Icono de acceso a la cuenta -->
                            <a href="#"><i class="fa-lg fa-solid fa-user mx-2 text-white"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <main class="d-flex">
        <!-- HISTORIA -->
        <section class="container col-12 bg-dark py-3 px-2 my-3 rounded-3">
            <!-- TÍTULO -->
            <div class="container text-white text-center">
                <h2>Nuestra historia</h2>
                <div class="container">
                    <p class="fst-italic">O como a mi me gusta llamarlo: Lo que justifica quienes somo hoy por
                        hoy.</p>
                </div>
            </div>
            <!-- CONTENIDO -->
            <div class="item border-0">
                <div class="empresa-acord info-empresa container py-0">
                    <hr>
                    <p>
                        Hace más de una década, en un pequeño garaje de la ciudad, cuatro amigos apasionados por la
                        música, Michael, Dwight, Jim y Kevin, se unieron con la idea de crear algo único. Fusionando sus
                        influencias musicales diversas, la banda "<span>The Office</span>" nació con
                        <span>Michael</span> como vocalista, <span>Dwight</span> en la guitarra, <span>Jim</span>
                        encargándose de los teclados y <span>Kevin</span> en la percusión. A lo largo de los años,
                        evolucionaron desde pequeños locales hasta festivales nacionales, atrayendo la atención de la
                        escena musical independiente.
                    </p>
                    <p>
                        Con letras profundas y emotivas, combinadas con actuaciones enérgicas, "<span>The Office</span>"
                        se convirtió en una fuerza impulsora en la escena musical. Su evolución constante y su
                        compromiso con la innovación los llevaron a explorar nuevas direcciones sin perder su esencia.
                        El legado de la banda perdura como un recordatorio de cómo la música puede unir a las personas y
                        dejar una marca imborrable en los corazones de sus oyentes.
                    </p>
                    <hr>
                </div>
            </div>
            <!-- LOCALIZACIÓN -->
            <div class="item border-0">
                <div class="t-0">
                    <p class="text-white text-center pt-2">Aquí fue nuestra primera reunión. Curioso, ¿No?</p>
                    <div class="empresa-acord map-empresa container pt-0">
                        <iframe width="100%" height="400" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9982240734377!2d-74.0445!3d40.6892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28c50f71d1c7b1d3!2sStatue%20of%20Liberty!5e0!3m2!1sen!2sus"
                            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="container-fluid bg-dark text-white p-3">
        <div class="container">
            <div class="row">

                <!-- Primer bloque de enlaces -->
                <div class="col-6 col-sm-6 col-md-3 footer-block">
                    <h5>Banda</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Integrantes</a></li>
                        <li><a href="#">Discografía</a></li>
                        <li><a href="#">Galería</a></li>
                    </ul>
                </div>

                <!-- Segundo bloque de enlaces -->
                <div class="col-6 col-md-3 footer-block">
                    <h5>Eventos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Calendario</a></li>
                        <li><a href="#">Entradas</a></li>
                        <li><a href="#">Próximos conciertos</a></li>
                        <li><a href="#">Eventos pasados</a></li>
                    </ul>
                </div>

                <!-- Tercer bloque de enlaces -->
                <div class="col-6 col-md-3 footer-block">
                    <h5>Merch</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Maquetas</a></li>
                        <li><a href="#">Ropa</a></li>
                        <li><a href="#">Novedades</a></li>
                        <li><a href="#">Ofertas</a></li>
                    </ul>
                </div>

                <!-- Cuarto bloque de enlaces -->
                <div class="col-6 col-md-3 footer-block ">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Contratacion</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>